body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;

}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.audiobook {
    display: inline-block;
    position: relative;
    font-size: 24px;
    text-decoration: underline;
    color: white;
}

    .audiobook:hover {
        color: #d4af37;
        transition: 0.6s;
    }
/* .audiobook::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: purple;
            position: absolute;
            bottom: -5px;
            left: 0;
        } */
.book-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 520px;
}

    .book-info img {
        max-width: 40%;
    }

.book-title {
    font-size: 35px;
}

.author {
    font-size: 20px;
}

.play-button {
    background-color: #d4af37;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 12px 24px; /* Increase padding for better button size */
    margin-top: 10px;
    cursor: pointer;
    display: block;
    padding-right: 256px;
    padding-top: 24px; /* Increase top padding */
    padding-bottom: 24px; /* Increase bottom padding */
    font-weight: bold;
    font-size: 18px; /* Add this line to increase the font size */
}

.zip-button {
    background-color: #d4af37;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 12px 24px; /* Increase padding for better button size */
    margin-top: 10px;
    cursor: pointer;
    display: block;
    padding-right: 268px;
    padding-top: 24px; /* Increase top padding */
    padding-bottom: 24px; /* Increase bottom padding */
    font-weight: bold;
    font-size: 18px; /* Add this line to increase the font size */
}

.social-links {
    margin-top: 20px;
    align-content: center;
}

.desc {
    font-family: 'Times New Roman', Times, serif;
    /* text-align:justify;*/
    /* font-style: italic; */
    font-weight: bold;
    font-size: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.audio {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    padding-top: 50px;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #d4af37;
}

.chapter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex: 0 0 calc(25% - 20px); /* Adjust the width to display 4 cards per row */
    padding: 20px;
    background-color: #d4af37;
    color: white;
    border: 1px solid #d4af37;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(212, 175, 55, 0.5);
}


h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.play-pause {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
}

    .play-pause i {
        margin-right: 5px;
    }

    .play-pause:hover {
        background-color: #2980b9;
    }

.responsive-image {
    max-width: 100%;
    height: auto;
}

.rest {
    text-align: left;
}

.gen {
    color: #d4af37;
}


@media (max-width: 768px) {
    .book-info {
        flex-direction: column;
        text-align: center;
    }

        .book-info img {
            max-width: 100%;
        }

    .card {
        flex: 0 0 calc(50% - 20px); /* Adjust the width to display 2 cards per row on smaller screens */
    }

    .rest {
        width: 100%; /* Set it to 100% width on smaller screens */
        text-align: center; /* Center-align the content */
    }
}
